body{
  width:100% !important;
  -webkit-text-size-adjust:none;
  margin:0;
  padding:0;
  color: #505050;
}
a{
  text-decoration:none;
  color:#2788cf;
}
img{
  border:none;
  font-size:14px;
  font-weight:bold;
  height:auto;
  line-height:100%;
  outline:none;
  text-decoration:none;
  text-transform:capitalize;
  display: block;
}
#backgroundTable{
  height:100% !important;
  margin:0;
  padding:0;
  width:100% !important;
  color:#646464;
}
body,.backgroundTable{
  background-color:#2f2f2f;
}
#templateContainer{
  border:0px solid #DDDDDD;
}
#templateHeader{
  background-color:#FFFFFF;
  border-bottom:0;
}
#templateContainer,.bodyContent{
  background-color:#e3e3e3;
}
.bodyContent div{
  font-family:Lucida Grande;
  line-height:150%;
  text-align:left;
  color:#646464;
  font-size:15px;
}
.bodyContent div a:link,.bodyContent div a:visited{
  color:#2888cd;
  font-weight:bold;
  text-decoration:none;
}
.bodyContent img{
  display:inline;
  margin-bottom:10px;
}
#templateFooter{
  background-color:#2f2f2f;
  border-top:0;
}
.footerContent div{
  color:#707070;
  font-family:Lucida Grande;
  font-size:12px;
  line-height:125%;
  text-align:left;
}
.footerContent div a:link,.footerContent div a:visited{
  color:#2888cd;
  font-weight:normal;
  text-decoration:none;
}
.footerContent img{
  display:inline;
}
.footerContent td{
  padding-top:15px;
}
#info div{
  font-size:12px;
}
.main {
  text-align: left;
  margin: 20px;
}